.App {
    font-family: sans-serif;
    text-align: center;
    overflow: hidden;

    outline: none;
}

path {
    fill: none;
    /* stroke: #000; */
    stroke-width: 3px;
}

circle {
    fill: steelblue;
    stroke: #fff;
    stroke-width: 3px;
}

circle.dot:nth-of-type(3) {
    fill: #139334;
    stroke: #16b65c;
}

circle.dot:nth-of-type(2) {
    fill: #fe130f;
    stroke: white;
}

circle.dot:nth-of-type(2) {
    fill: #fe130f;
}

.hazzard {
    fill: black;
    filter: drop-shadow(16px 16px 20px red);
    animation: pulseCheat 1.5s infinite;
    stroke-width: 5px;
}

@keyframes pulseCheat {
    0% {
        stroke: rgba(255, 0, 0, 0.5);
    }
    100% {
        stroke: rgba(255, 0, 0, 0);
    }
}
